*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER --------------------------- */

.header-container{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-wrapper{
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo{
    height: 40px;
}

.controls-wrapper{
    font: 16px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.controls-wrapper select{
    width: 150px;
}

/* MAIN --------------------------- */

.main-container{
    width: 100%;
    height: 83vh;
    background-color: #7FFFD4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.easy-wrapper, .normal-wrapper, .crazy-wrapper{
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}

/* FOOTER --------------------------- */

footer{
    height: 7vh;
    line-height: 7vh;
}

.footer-container{
    margin-left: 17%;
}

/* active --------------------------- */

.active{
    display: flex;
}